.cardSpacing {
    width: 18rem;
    margin: 2rem;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.subtitleSpacing {
    margin-top: 12px;
}

.priceSpacing {
    margin-top: 4px;
    font-size: small;
}