.container {
    height: 100vh;
    width: 100vw;
}

.navbar {
    height: 5rem;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin-top: 5rem;
}

.header {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.images {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow-box-parente {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 60px;
    padding-top: 0;
    justify-content: flex-start;
}

.reserve-container {
    display: flex;
    flex-direction: column;
    background-color: #FFCD39;
    padding: 25px 13px;
    border-radius:  16px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

}


.inputs-group{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.price-per-night {
    align-self: flex-start;
    align-items: flex-start;
}

.pages {
    margin: 0;
    justify-content: center;
    align-items: center;
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 100vw;

}

.description-text {
    width: 60vw;
    flex-wrap: wrap;
}

.interested-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    margin-top: 2rem;
    margin-left: 0;
}
