.container {
}

.navbar {
    height: 4rem;
}

.content-my {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
}


.accordion {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
}

.list-my {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
}

.accordio-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}